//-----------------colors--------------------------

$navy: #0A1331;
$bleu: #0057CC;

//-----------------//colors------------------------

//-----------------media queries-------------------
// $bp-778: 778px; //Ipad
// $bp-414: 414px; //iPhone6+
// $bp-375: 375px; //iPhone6
// $bp-360: 360px; //360x640 Nominal S6
// $bp-320: 320px; //320x568 
//-----------------//media queries-----------------

.header {
  background-color: black !important;
  width: 10%;
  height: 20vh;
}