$navy: #0A1331;
$bleu: #0057CC;
$black: #333333;


.header-p-image {
  background-image: url('../images/concierge.jpg') !important;
  height: 700px !important;
  background-position-y: -110px !important;
  @media screen and (max-width: 414px) {
    width: 100%;
    height: 335px !important;
    background-size: contain !important;
    background-position-y: 130px !important;
    background-position-x: 0px !important;
  }
  @media screen and (max-width: 375px) {
    height: 324px !important;
  }
  @media screen and (max-width: 360px) {
    height: 317px !important;
  }
  @media screen and (max-width: 360px) {
    height: 296px !important;
  }
}

.highlight-text {
  color: $bleu;
  // font-weight: 400;
  font-size: 62px;
  line-height: 90%;
  font-family: 'Playfair Display', serif;
  @media screen and (max-width: 414px) {
    font-size: 45px;   
  }
  @media screen and (max-width: 375px) {
    font-size: 37px;   
  }
}

.text {
  color: $black;
  text-align: left;
  font-size: 1.4em;
  padding-right: 5%;
  font-weight: 300;
  .bold {
    font-weight: 700;
  }
}

#section1 {
  
}

#section2 {
  padding-top: 5%;
  #concierge-col-1 {
    .highlight-text {
      padding-right: 5%;
      text-align: left;
    }
    .underline {
      border: 5px solid $bleu;
      width: 15%;
    }  
  }
  #concierge-col-2 {
    float: left !important;
    @media screen and (max-width: 414px) {
      padding-top: 50px;
      width: 90%;
      padding-left: 15%;
    }
    p{
      @media screen and (max-width: 414px) {
        font-size: 1.4em;
      } 
    }
  }
}

#section3 {
  padding-top: 5%;
  padding-bottom: 3%;
  .concierge-sub-services-container-row {
    margin-bottom: 2%;
    @media screen and (max-width: 414px) {
      margin-bottom: 0%;
    }
  }
  .overline {
    border: 5px solid $bleu;
    width: 25%;
    position: absolute;
    right: 8%;
  }

  .concierge-subservice-text {
    text-align: right;
    font-size: 49px;
    line-height: 90%;
    padding-top: 8%;
    padding-right: 8%;
  }

  #sub-service-1 {
    background-image: url('../images/reservaciones.png');
    background-position-x: 10px;
  }
  #sub-service-2 {
    background-image: url('../images/ticket.jpg');
    background-position-x: -210px;
    background-repeat: no-repeat;
    background-size: 300%;
    @media screen and (max-width: 375px) {
      background-size: 320%;
    }
    @media screen and (max-width: 360px) {
      background-size: 327%;
    }
    @media screen and (max-width: 360px) {
      background-size: 370%;
      background-position-x: -250px;
    }
  }
  #sub-service-3 {
    background-image: url('../images/chofer.jpg');
    background-position-x: 380px;
    background-size: 150% !important;
    @media screen and (max-width: 414px) {
      background-position-x: 400px;
    }
    @media screen and (max-width: 375px) {
      background-size: 156% !important;
    }
    @media screen and (max-width: 360px) {
      background-size: 163% !important;
    }
   @media screen and (max-width: 360px) {
      background-size: 186% !important;
    }
  }

  .concierge-subcontainer {
    position: relative;
  }
  .sub-service-w{
    background:transparent;
    width: 100%;
    height: 370px;
    background: rgba(0, 74, 173, 0.3);
    mix-blend-mode: difference;
    opacity: 1.00;
  }

  .sub-service-title {
    color: white;
    font-weight: 700;
    position: absolute;
    bottom: 20px;
    text-shadow: 0px 5px 3px #333333;
    left: 60px;
    font-size: 1.5em;
    width: 60%;
    text-align: left;
  }
}

.footer-col {
  padding-top: 25% !important;
}