//-----------------colors--------------------------

$navy: #0A1331;
$bleu: #0057CC;
$black: #333333;

//-----------------//colors------------------------

//-----------------media queries-------------------
// $bp-778: 778px; //Ipad
// $bp-414: 414px; //iPhone6+
// $bp-375: 375px; //iPhone6
// $bp-360: 360px; //360x640 Nominal S6
// $bp-320: 320px; //320x568 
//-----------------//media queries-----------------

@mixin slide-up-effect($ttime,$distance,$ftime,$delay) {
  visibility: visible !important;
  -webkit-transition: all $ttime ease-out;
  -moz-transition: all $ttime ease-out;
  -o-transition: all $ttime ease-out;
  transition: all $ttime ease-out;
  transition-delay: $delay;

  -webkit-transform: translate3d(0px, $distance, 0px);
  -moz-transform: translate3d(0px, $distance, 0px);
  -ms-transform:translate3d(0px, $distance, 0px);
  transform: translate3d(0px, $distance, 0px);

  animation: fadein $ftime;
  -moz-animation: fadein $ftime; /* Firefox */
  -webkit-animation: fadein $ftime; /* Safari and Chrome */
  -o-animation: fadein $ftime; /* Opera */
  animation-delay: $delay;
}

@mixin slide-left-effect($ttime,$distance,$ftime,$delay) {
  visibility: visible !important;
  -webkit-transition: all $ttime ease-in;
  -moz-transition: all $ttime ease-in;
  -o-transition: all $ttime ease-in;
  transition: all $ttime ease-in;
  -webkit-transition-delay: $delay; /* Safari */
  transition-delay: $delay;

  -webkit-transform: translate3d($distance, 0px, 0px);
  -moz-transform: translate3d($distance, 0px, 0px);
  -ms-transform:translate3d($distance, 0px, 0px);
  transform: translate3d($distance, 0px, 0px);

  animation: fadein $ftime;
  -moz-animation: fadein $ftime; /* Firefox */
  -webkit-animation: fadein $ftime; /* Safari and Chrome */
  -o-animation: fadein $ftime; /* Opera */
  animation-delay: $delay;
}

@mixin fade-effect($ftime,$delay) {
  opacity: 0;
  visibility: visible;
  -webkit-animation: fadein ease-in $ftime; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein ease-in $ftime; /* Firefox < 16 */
      -ms-animation: fadein ease-in $ftime; /* Internet Explorer */
       -o-animation: fadein ease-in $ftime; /* Opera < 12.1 */
          animation: fadein ease-in $ftime;
  
  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
  
  -webkit-animation-delay: $delay;
  -moz-animation-delay: $delay;
  animation-delay: $delay;

}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

//-----------------header------------------------

.header {
  width: 100%;
  height: 15vh;
  position: absolute;
  top: 0;
  max-width: initial;
  background-color: white;
  @media screen and (max-width: 765px) {
    height: 130px;
  }

  @media screen and (max-width: 414px) {
    
  }


  .header-logo{
    position: relative;
    margin-top: 6vh; 
    z-index: 20;
    @media screen and (max-width: 765px){ 
      // margin-top: 25px;
      // width: 30%;
      margin-top: 20px;
      width: 11%;
      z-index: 0;
    }
    // @media
    @media screen and (max-width: 414px) {
      width: 22%;
      margin-top: 15px; 
    }
    @media screen and (max-width: 360px) {
      width: 26%;
    }
  }

  .c-hamburger {
    visibility: visible;
    display: block;
    position: absolute;
    overflow: hidden;
    top: 5vh;
    left: 120px;
    margin: 0;
    padding: 0;
    width: 55px;
    height: 40px;
    font-size: 0;
    text-indent: -9999px;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
    z-index: 90;
    background: transparent;
    span{
      width: 35px;
    }
    @media screen and (max-width: 765px){ 
    // top: 50px;
    // left: -9px;
      display: none;
    }

  }

  .c-hamburger:focus {
    outline: none;
  }

  .c-hamburger span {
    display: block;
    position: absolute;
    top: 19px;
    left: 9px;
    right: 9px;
    height: 4px;
    background: $black;
    border-radius: 30px; 
    box-shadow: none;
  }

  .c-hamburger span::before,
  .c-hamburger span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 35px;
    height: 4px;
    background-color: $black;
    content: "";  
    border-radius: 30px 
  }

  .c-hamburger span::before,
  .c-hamburger span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 35px;
    height: 4px;
    background-color: $black;
    content: "";  
    border-radius: 30px; 
    box-shadow: none;
  }

  .c-hamburger span::before {
    top: -10px;
  }

  .c-hamburger span::after {
    bottom: -10px;
  }

  .c-hamburger--htx span {
    transition: background 0s 0.3s;
  }

  .c-hamburger--htx span::before,
  .c-hamburger--htx span::after {
    transition-duration: 0.3s, 0.3s;
    transition-delay: 0.3s, 0s;
  }

  .c-hamburger--htx span::before {
    transition-property: top, transform;
  }

  .c-hamburger--htx span::after {
    transition-property: bottom, transform;
  }

  .drawer-text{
    visibility: visible;
    position: absolute;
    left: 180px;
    top: 5.5vh;
    z-index: 5;
    a{
      font-size: 21px;
      color: white;//$black;
      &:hover{
        font-weight: 700;
        color: white;
      }
    }
    p{
      font-size: 21px;
      color: white;//$black;
    }
    @media screen and (max-width: 765px){ 
      display: none;
    }
  }

  .service-title {
    color: $black !important;
    transition: all 0.3s ease-in-out;
    &:hover {
      color: white;
    }
  }

  #exampleModal1{
    background: #2D2C2C;
    ul{
      list-style: none;
      position: absolute;
      top: 300px;
      left: 225px;
      font-size: 40px;
      font-family: 'Playfair Display';
      line-height: 70px;
      text-align: left;
    }
    a{
      transition: all 0.3s ease-in-out;
      color: white;
      &:hover{
        color:#0083FF;
        margin-left: 30px;
      }
    }
  }

  .close-button{
    top: 80px;
    right: 200px;
    font-size: 3em;
    color: white;
    &:hover{
      color: white;//#8a8a8a;
    }
  }

  .modal-logo{
    left: 130px;
    position: absolute;
    top: 60px;
  }

  .modal-text{
    color: white;
    text-align: left;
    position: absolute;
    right: 30%;
    top: 290px;
    h1{
      font-size: 40px;
      line-height: 45px;
    }
    p{
      font-size: 15px;
      line-height: 20px;
    }
  }

  .header-menu-text{
    position: relative;
    top: 27%;
    h1{
      color: white;
      font-size: 50px;
    }
    input[type=text], input[type=password] {
      font-family: 'Open Sans', sans-serif;
      padding: 10px 20px;
      margin: 8px 0;
      box-sizing: border-box;
      background: transparent;
      border: none;
      border-bottom: 2px #8595AB solid;
      width: 290px;
      margin-left: 40px;
      margin-top: 35px;
      text-align: center;
      color: white;
      font-size: 18px;
      padding-bottom: 12px;;
      &:focus{
        box-shadow: none;
      }
    }
    input[type=submit] {
      font-family: 'Open Sans', sans-serif;
      color: white;
      width: 165px;
      font-size: 17px;
      text-transform: uppercase;
      letter-spacing: 2px;
      padding: 7px;
      background-color: #5066EC;
      border: none;
      border-radius: 30px;
      box-shadow: 3px 2px 1px black;
      margin-top: 30px;
    }
    a p{
      margin-top: 30px;
      color: white;
      font-size: 14px;
      outline: none;
    }
  }

  ::-webkit-input-placeholder {
    color: white;
    text-align: center;
  }

  :-moz-placeholder { /* Firefox 18- */
    color: white;
    text-align: center;
  }

  ::-moz-placeholder {  /* Firefox 19+ */
    color: white;
    text-align: center;
  }

  :-ms-input-placeholder {  
    color: white;
    text-align: center;
  }

  .header-services{
    position: absolute;
    left: -70%;
    width: 470px;
    opacity: 0.9;
    height: 0%; 
    height: 100vh; 
    top: -110%;
    background-color: #0A1331;
    transition: all 1s ease-in-out;
    z-index: -1;
    height: 0;
    p{
      text-align: left;
      padding-top: 7px;
      font-size: 17px;
    }
  }
  
  .drawer-text:hover .service-title{
    color: white !important;
  }

  .drawer-text:hover .header-services{
    visibility: visible;
    height: 110vh; 
    .header-services-row{
      @include fade-effect(1.5s,0s)
    }
  }

  .service-icon {
    width: 45px; 
    margin-left: 1px;
  }

  .header-services-row{
    padding-top: 30px;
    visibility: hidden;
  }

  .header-services-left{
    width: 45px;
    margin-left: 80px;
  }

  .header-services-right{
    float: none !important;
    margin-left: 155px;
  }

  .header-services-1{
    padding-top: 150px;
  }

  .animation-left-header-services{
    @include slide-left-effect(1s,50px,2.5s,0s);
  }

  .fade-element{
    @include fade-effect(2.5s,0s)  
  }

  .animation-left-header-services{
    @include slide-left-effect(1s,50px,2.5s,1s);
    @media screen and (max-width: 765px){
      @include slide-left-effect(0s,50px,0s,0s);
    }
  }

  .animation-left-header-text{
    @include slide-left-effect(1s,50px,2.5s,2s);
  }
}




.header-p-image {
  background-color: gray;
  height: 85vh;
  position: relative;
  background-image: url('../images/group_pic_2.jpg');
  // background-attachment: fixed;
  background-position-y: 15vh;
  background-size: 100%;
  @media screen and (max-width: 765px) {
    height: 440px;
    background-position-y: 130px; 
  }

  @media screen and (max-width: 550px) {
    height: 380px;
    background-size: 105%;
    background-position-x: -20px;
  }

  @media screen and (max-width: 414px) {
    height: 320px;
  }

  @media screen and (max-width: 375px) {
    height: 300px; 
  }

  @media screen and (max-width: 360px) {
    height: 290px;
  }
}



//-----------------header------------------------

//---------------------Burger menu---------------
.mobile-menu{
  position: absolute;
  top: 0px;
  display: none;
  @media screen and (max-width: 775px){
    display: block;
  }
}

.menu-logo-mobile-2{
  padding: 10%;
  padding-bottom: 15%;
  @media screen and (max-width: 320px){
    padding: 6%;
    padding-bottom: 11%;
    width: 80%;
  }
}

#menu-mobile-item-1{
  background-color: #f0fbfd;
}

#top-li-mobile-menu{
  margin-top: 30px;
  @media screen and (max-width: 320px){
    margin-top: 20px;
  }
}

#drawer-toggle {
  position: absolute;
  opacity: 0;
}

#drawer-toggle-label {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  left: 27px;
  height: 100px;
  width: 50px;
  display: block;
  position: fixed;
  background: rgba(255, 255, 255, .0);
  z-index: 1;
  transition: all 0.5s ease-in-out;
}
/* adds our "hamburger" menu icon */

#drawer-toggle-label:before {
  content: '';
  display: block;
  position: absolute;
  height: 4px;
  width: 34px;
  background: black;
  left: 30%;
  top: 58px;
  box-shadow: 0px 10px 0 black, 0 20px 0 black;
}

#drawer {
  position: fixed;
  top: 0;
  left: -85%;
  height: 100%;
  width: 85%;
  background: #2f2f2f;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 20px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  -webkit-overflow-scrolling: touch;
  transition: all 0.5s ease-in-out;
  background: $navy; /* For browsers that do not support gradients */
  // @media screen and (max-width: 765px){ 
  //   top: 40px;
  //   left: 40px;
  // }
  // @media screen and (max-width: 360px) {
  //   top: 45px;
  //   left: 30px;   
  // }
  ul{
    margin-top: 0px;
    text-align: left;
    margin-left: 0px;
    @media screen and (max-width: 320px){
      margin-top: 20px;
    }
  }
  li {
    height: 45px;
    letter-spacing: 1px;
    padding-left: 35px;
    padding-top: 0.6em;
    background-color: #222E50;
    margin-top: 3px;
    list-style: none;
    // &:hover{
    //   // background-color: #222E50;
    // }
    // @media screen and (max-width: 360px){
    //   height: 40px;
    //   letter-spacing: 0px;
    // }
    // @media screen and (max-width: 320px){
    //   height: 30px;
    //   font-size: 12px;
    //   margin-top: 0px;
    // }
    a{
      color: white;
    }
  }
  h1{
    color: white;
    @media screen and (max-width: 414px) {
      font-size: 1.7em;
    }

  }
  p{
    color: white;
    text-align: left;
    padding-left: 30px;
  }
}

#mobile-menu-1{
  font-family: 'Playfair Display', serif;
  font-size: 21px;
  margin-bottom: 32px;
  li{
    line-height: 17px;
    border-left: 5px $bleu solid;
  }
}

#mobile-menu-2{
  font-size: 14px;
  line-height: 31px;
  li{
    list-style-position: inside;
    background-position-x: 25px;
    background-position-y: 10px;
    padding-left: 70px;
    line-height: 30px;
    background-size: 25px auto; 
  }
  @media screen and (max-width: 320px) {
    font-size: 12px;
  }
}

#mm2a{
  background:url('../images/PropertyMaintenance.png') no-repeat 0 0;
}

#mm2b{
  background: url('../images/Administration.png') no-repeat 0 0;
}

#mm2c{
  background: url('../images/Payments.png') no-repeat 0 0;
}

#mm2d{
  background: url('../images/Paperwork.png') no-repeat 0 0;
}

#mm2e{
  background: url('../images/Insurance.png') no-repeat 0 0;
}

#mm2f{
  background: url('../images/Planning.png') no-repeat 0 0;
}

#mm2g{
  background: url('../images/CreditCard.png') no-repeat 0 0;
}

#mm2h{
  background: url('../images/Concierge.png') no-repeat 0 0;
}



/* actual page content pane */

#page-content {
  margin-left: 0px;
  margin-top: 50px;
  width: 100%;
  height: calc(100% - 50px);
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 20px;
}

#drawer-toggle:checked ~ #drawer-toggle-label,
#drawer-toggle:checked ~ header {
  left: 85%;
}

#drawer-toggle:checked ~ #drawer {
  left: 0px;
}

#drawer-toggle:checked ~ #page-content {
  margin-left: 85%;
}

/* checked styles (menu open state) */

#drawer-toggle:checked ~ #drawer-toggle-label {
  height: 100%;
  width: calc(100% - 84%);
  // background: rgba(0, 0, 0, .8);
}

#drawer-toggle:checked ~ #drawer-toggle-label,
#drawer-toggle:checked ~ header {
  left: 84%;
}

#drawer-toggle:checked ~ #drawer {
  left: 0px;
}

#drawer-toggle:checked ~ #page-content {
  margin-left: 350px;
}

[type="checkbox"] + label{
  margin-left: 0px !important;
}

.mobile-menu-phone{
  padding-top: 30px;
  p{
    text-align: center !important;
    padding-left: 0 !important;
    font-size: 13px;
    line-height: 14px;
  }
}
//---------------------//Burger menu------------- 