$navy: #0A1331;
$bleu: #0057CC;
$black: #333333;



.header-p-image {
  height: 0 !important;
  z-index: 1;
}

.highlight-text {
  font-weight: 700;
  font-family: 'Playfair Display', serif;
}

#section1 {

}
#section2 {
  margin-top: 15vh;
  .row {
    max-width: 100%;
  }
  .service-link {
    padding-left: 0;
    padding-right: 0;
    position: relative;
    .service-w {
      position: relative;
      @media screen and (max-width: 320px) {
        height: 620px !important;
      }
    }
  }
  .service-name-container {
    position: absolute;
    bottom: 30px;
    text-align: left;
    left: 30px;
  }
  .service-name {
    color: white;
    text-shadow: 0px 4px 4px rgba(0,0,0,0.25);
    // font-weight: 700;
    font-family: 'Playfair Display', serif;
    font-size: 52px;
    line-height: 90%;
    text-align: left;
    @media screen and (max-width: 320px) {
      font-size: 2.5em;
    }
  }
  .explore {
    color: white;
    text-transform: uppercase;
    font-size: 1em;
    // font-weight: 600;
    font-family: 'Lato';
    line-height: 100%;
    letter-spacing: 0.1px;
    text-transform: uppercase;
  }
  .service-w {
    height: 710px !important;
    background:transparent;
    background: rgba(0, 74, 173, 0.3);
    mix-blend-mode: difference;
    opacity: 1.00;
  }
  #service-link-1 {
    background-image: url('../images/plane.jpg');
    background-position-x: -300px;
    background-position-y: -10px;
    background-size: 290%;  
    @media screen and (max-width: 1200px) {
      background-size: 320%;  
    }
    @media screen and (max-width: 414px) {
      background-size: 306%;
    }
    @media screen and (max-width: 375px) {
      background-size: 338%;
    }
    @media screen and (max-width: 360px) {
      background-size: 352%;
    }
  }
  #service-link-2 {
    background-image: url('../images/meeting.jpg');
    background-position-x: -360px;
    background-position-y: -60px;
    background-size: 245%;
    @media screen and (max-width: 1200px) {
      background-size: 290%;  
    }   
    @media screen and (max-width: 414px) {
      background-size: 280%;
    }
    @media screen and (max-width: 375px) {
      background-size: 309%;
    }
    @media screen and (max-width: 360px) {
      background-size: 321%;
    }
  }
  #service-link-3 {
    background-image: url('../images/concierge.jpg'); 
    background-position-y: -40px;
    background-position-x: -470px;
    background-size: 235%;
    @media screen and (max-width: 1200px) {
      background-size: 285%;  
    } 
    @media screen and (max-width: 414px) {
      background-size: 280%;
    }
    @media screen and (max-width: 375px) {
      background-size: 309%;
    }
    @media screen and (max-width: 360px) {
      background-size: 313%;
    }
  }
}
#section3 {
  background-color: $navy;
  color: white;
  padding-bottom: 7% !important;
  padding-top: 0;
  margin-bottom: 5%;
  height: 350px !important;
  .highlight-text {
    font-weight: 300;
    font-family: 'Playfair Display', serif;
    color: white;
    font-size: 3em;
    text-align: center;
    padding-top: 5%;
    @media screen and (max-width: 320px) {
      font-size: 2em;
    }
  }
  .cta-text {

  }
  .cta-button-container {
    #cta-button-1 {
      margin-right: 2%;
      @media screen and (max-width: 414px) {
        margin-right: 0%;
        margin-bottom: 5%;
      }
    }
    .cta-button {
      border: 3px solid white;
      text-transform: uppercase;
      color: white;
      width: 350px;
      height: 50px;
      font-weight: 600;
      font-size: 1em;
      transition: all .15s linear;
      &:hover{
        color: $navy;
        background-color: white;
        cursor: pointer; 
      }
      @media screen and (max-width: 320px) {
        width: 280px;
      }
    }
  }
}

.footer-col {
  padding-top: 0% !important;
}