---
title: Concierge - For Elite
---

<%= stylesheet_link_tag 'concierge' %>

<div id="concierge" class="main-div">
	<div class="section" id="section1">
		<%= partial "header_menu"  %>
	</div>
	<div class="section" id="section2">
		<div class="row extended concierge-container">
      <div class="columns large-5 medium-12 small-12 concierge-col" id="concierge-col-1">
        <h1 class="highlight-text">
          Concierge Services
        </h1>
        <div class="underline"></div>
      </div>
      <div class="columns large-6 medium-12 small-12 concierge-col" id="concierge-col-2">
        <p class="property-info-text text" id="text-1">
          For <span class="bold">Elite Management Solution</span> your comfort is our goal. That’s why we offer our clients the best of the best. 
        </p>
        <p class="property-info-text text" id="text-2">
          Our Concierge services are designed to make every step of the way easier to Elite’s members. That means we also take care of the little things. 
        </p>
        <p class="property-info-text text" id="text-3">
          From reservations, to ticket purchases and transportation, we provide A class solutions to our members.  
        </p>
      </div>  
    </div>
	</div>
  <div class="section" id="section3">
    <div class="row concierge-sub-services-container-row" id="concierge-sub-services-container-row-1">
      <div class="columns large-4 medium-12 small-12 concierge-subcontainer" id="concierge-subcontainer-1">
        <div class="overline"></div>
        <p class="concierge-subservice-text highlight-text">
          Every piece of service we provide is designed to make your life easier.
        </p>
      </div>
      <div class="columns large-4 medium-12 small-12 concierge-subcontainer" id="concierge-subcontainer-2">
        <div class="sub-service" id="sub-service-1">
          <div class="sub-service-w" id="sub-service-w-1"></div>
        </div>
        <h3 class="sub-service-title">
          Reservations
        </h3>
      </div>
      <div class="columns large-4 medium-12 small-12 concierge-subcontainer" id="concierge-subcontainer-3">
        <div class="sub-service" id="sub-service-2">
          <div class="sub-service-w" id="sub-service-w-2"></div>
        </div>
        <h3 class="sub-service-title">
          Tickets Purchases
        </h3>
      </div>
    </div>
    <div class="row concierge-sub-services-container-row" id="concierge-sub-services-container-row-2">
      <div class="columns large-offset-8 large-4 medium-12 small-12 concierge-subcontainer" id="concierge-subcontainer-4">
        <div class="sub-service" id="sub-service-3">
          <div class="sub-service-w" id="sub-service-w-3"></div>
        </div>
        <h3 class="sub-service-title">
          Transportation
        </h3>
      </div>
    </div>
  </div>
  <%= partial "footer" %>
</div>


