---
title: Property Management - For Elite
---

<%= stylesheet_link_tag 'property' %>

<div id="property" class="main-div">
  <div class="section" id="section1" data-anchor="Home">
    <%= partial "header_menu" %>
  </div>
  <div class="section" id="section2">
    <div class="row extended property-info-container">
      <div class="columns large-5 medium-12 small-12 property-info-col" id="property-info-col-1">
        <h1 class="highlight-text">
          Property Management
        </h1>
        <div class="underline"></div>
      </div>
      <div class="columns large-6 medium-12 small-12 property-info-col" id="property-info-col-2">
        <p class="property-info-text" id="text-1">
          We want you to enjoy your life and keep delighting on your future. That’s why in Elite Management Solution we have a highly prepared team of dedicated asset managers that are going to take care of every single possession you trust us with.
        </p>
        <p class="property-info-text" id="text-2">
          Our responsibilities regarding your assets are: <span class="bold">We deal with your tenants on your behalf, manage all paperwork related to your assets and the general maintenance of your properties.</span>
        </p>
      </div>
    </div>
  </div>
  <div class="section" id="section3">
    <div class="row property-sub-services-container-row" id="property-sub-services-container-row-1">
        <div class="columns large-4 medium-6 small-12 property-sub-services-subcontainer" id="property-sub-service-subcontainer-1">
          <div class="overline"></div>
          <p class="property-sub-service-text highlight-text">
            Every piece of service we provide is designed to make your life easier.
          </p>
        </div>
        <div class="columns large-4 medium-6 small-12 property-sub-services-subcontainer" id="property-sub-service-subcontainer-2">
          <div class="sub-service" id="sub-service-1">
            <div class="sub-service-w" id="sub-service-w-1"></div>
          </div>
          <h3 class="sub-service-title">
            Property Administration
          </h3>
        </div>
        <div class="columns large-4 medium-6 small-12 property-sub-services-subcontainer" id="property-sub-service-subcontainer-3">
          <div class="sub-service" id="sub-service-2">
            <div class="sub-service-w" id="sub-service-w-2"></div>
          </div>
          <h3 class="sub-service-title">
            Payments
          </h3>
        </div>
    </div>
    <div class="row property-sub-services-container-row" id="property-sub-services-container-row-2">
        <div class="columns large-4 medium-6 small-12 property-sub-services-subcontainer" id="property-sub-service-subcontainer-4">
          <div class="sub-service" id="sub-service-3">
            <div class="sub-service-w" id="sub-service-w-3"></div>
          </div>
          <h3 class="sub-service-title">
            Property Maintenance
          </h3>
        </div>
        <div class="columns large-4 medium-6 small-12 property-sub-services-subcontainer" id="property-sub-service-subcontainer-5">
          <div class="sub-service" id="sub-service-4">
            <div class="sub-service-w" id="sub-service-w-4"></div>
          </div>
          <h3 class="sub-service-title">
            Credit Card Management
          </h3>
        </div>
        <div class="columns large-4 medium-6 small-12 property-sub-services-subcontainer" id="property-sub-service-subcontainer-6">
          <div class="sub-service" id="sub-service-5">
            <div class="sub-service-w" id="sub-service-w-5"></div>
          </div>
          <h3 class="sub-service-title">
            Tenant Selection
          </h3>
        </div>
    </div>
    <div class="row property-sub-services-container-row" id="property-sub-services-container-row-3">
        <div class="columns large-4 medium-6 small-12 property-sub-services-subcontainer" id="property-sub-service-subcontainer-7">
          <div class="sub-service" id="sub-service-6">
            <div class="sub-service-w" id="sub-service-w-6"></div>
          </div>
          <h3 class="sub-service-title">
            Paperwork
          </h3>
        </div>
        <div class="columns large-4 medium-6 small-12 property-sub-services-subcontainer" id="property-sub-service-subcontainer-8">
          <div class="sub-service" id="sub-service-7">
            <div class="sub-service-w" id="sub-service-w-7"></div>
          </div>
          <h3 class="sub-service-title">
            Legal Matters
          </h3>
        </div>
        <div class="columns large-4 medium-6 small-12 property-sub-services-subcontainer" id="property-sub-service-subcontainer-9">
          <div class="sub-service" id="sub-service-8">
            <div class="sub-service-w" id="sub-service-w-8"></div>
          </div>
          <h3 class="sub-service-title">
            Evictions
          </h3>
        </div>
    </div>
  </div>
  <%= partial "footer" %>
</div>

