---
title: Services - For Elite
---

<%= stylesheet_link_tag 'service' %>

<div id="concierge" class="main-div">
  <div class="section" id="section1">
    <%= partial "header_menu"  %>
  </div>
  <div class="section" id="section2">
    <div class="row extended" id="services-container">
      <a href="property.html" class="service-link column large-4 medium-12 small-12" id="service-link-1">
        <div class="service-w" id="service-w-1">
          
        </div>
        <div class="service-name-container" id="service-name-container-1">
          <h1 class="service-name highlight-text">
            Property <br> Management
          </h1>
          <h3 class="explore">
            Explore <i class="fa fa-arrow-right" aria-hidden="true"></i>
          </h3>
        </div>
      </a>
      <a href="family.html" class="service-link column large-4 medium-12 small-12" id="service-link-2">
        <div class="service-w" id="service-w-2">
          
        </div>
        <div class="service-name-container" id="service-name-container-2">
          <h1 class="service-name highlight-text">
            Family <br> Office
          </h1>
          <h3 class="explore">
            Explore <i class="fa fa-arrow-right" aria-hidden="true"></i>
          </h3>
        </div>  
      </a>
      <a href="concierge.html" class="service-link column large-4 medium-12 small-12" id="service-link-3">
        <div class="service-w" id="service-w-3">
          
        </div>
        <div class="service-name-container" id="service-name-container-3">
          <h1 class="service-name highlight-text">
            Concierge <br> Service
          </h1>
          <h3 class="explore">
            Explore <i class="fa fa-arrow-right" aria-hidden="true"></i>
          </h3>
        </div>
      </a>
    </div>
  </div>
  <div class="section" id="section3">
    <div class="row extended" id="cta-container">
      <h1 class="cta-text highlight-text" id="cta-text">
        - How can we help you? -
      </h1>
      <div class="cta-button-container">
        <button class="cta-button" id="cta-button-1">Give us a call</button>
        <button class="cta-button" id="cta-button-2">Schedule a meeting</button>
      </div>
    </div>
  </div>
  <%= partial "footer" %>
</div>


